<p style="color: green"><%= notice %></p>

<%= render @rtaxiconnect %>

<div>
  <%= link_to "Edit this rtaxiconnect", edit_rtaxiconnect_path(@rtaxiconnect) %> |
  <%= link_to "Back to rtaxiconnects", rtaxiconnects_path %>

  <%= button_to "Destroy this rtaxiconnect", @rtaxiconnect, method: :delete %>
</div>
