<div class="topAll">
    <div class="topTaxiMenu">
        <div class="topTaxiMenuExplain">
            <h3>湘南台からキャンパスへ</h3>
            <p>あなたのステータス</p>
            <p>
                <% if @user==nil%>
                    NONE
                <%else%>
                    <% if @user.taxi==true%>
                        WAITING
                    <%else%>
                        NOT WAITING
                    <%end%>
                <%end%>
            </p>
        </div>
        <div class="topTaxiMenuDiv">
            <div class="topTaxiMenuSelect"><%= link_to( "タクシーを待つ" , "../taxi/wait" , class: "" )%></div>
            <div class="topTaxiMenuSelect"><%= link_to( "タクシーを諦める" , "../taxi/exit" , class: "" )%></div>
            <div class="topTaxiMenuSelect"><%= link_to( "待っている人を探す" , "../taxi/waiting" , class: "" )%></div>
            <div class="topTaxiMenuSelect"><%= link_to( "承認する" , "../taxi/check" , class: "" )%></div>
        </div>
    </div>
    <div class="topRtaxiMenu">
        <div class="topTaxiMenuExplain">
            <h3>キャンパスから湘南台へ</h3>
            <p>あなたのステータス</p>
            <p>
                <% if @user==nil%>
                    NONE
                <%else%>
                    <% if @user.rtaxi==true%>
                        WAITING
                    <%else%>
                        NOT WAITING
                    <%end%>
                <%end%>
            </p>
        </div>
        <div class="topTaxiMenuDiv">
            <div class="topTaxiMenuSelect"><%= link_to( "タクシーを待つ" , "../rtaxi/wait" , class: "" )%></div>
            <div class="topTaxiMenuSelect"><%= link_to( "タクシーを諦める" , "../rtaxi/exit" , class: "" )%></div>
            <div class="topTaxiMenuSelect"><%= link_to( "待っている人を探す" , "../rtaxi/waiting" , class: "" )%></div>
            <div class="topTaxiMenuSelect"><%= link_to( "承認する" , "../rtaxi/check" , class: "" )%></div>
        </div>
    </div>
</div>

