<form class="loginAll" action="editer" method="GET">
    <div class="loginFormInto">
        <h1><%=@user.name%>'s PAGE</h1>
        <div class="cp_iptxt">
            <input class="ef" name="name" type="text" placeholder="" value="<%=@user.name%>">
            <label for="name">名前</label>
            <span class="focus_line"><i></i></span>
        </div>
        <div class="cp_iptxt">
            <input class="ef" name="age" type="text" placeholder="" value="<%=@user.age%>">
            <label for="age">年齢</label>
            <span class="focus_line"><i></i></span>
        </div>
        <div class="cp_iptxt">
            <input class="ef" name="mail" type="text" placeholder="" value="<%=@user.mail%>">
            <label for="mail">メールアドレス</label>
            <span class="focus_line"><i></i></span>
        </div>
        <div class="cp_ipradio">
            <input type="radio" name="sex" value="1" id="a_rb1" />
            <label for="a_rb1">男</label>
            <input type="radio" name="sex" value="0" id="a_rb2" />
            <label for="a_rb2">女</label>
        </div>
        <div class="cp_iptxt">
            <input class="ef" name="password" type="password" placeholder="" value="<%=@user.passward%>">
            <label for="password">パスワード</label>
            <span class="focus_line"><i></i></span>
        </div>
        <p>必ず全ての項目を入力してください</p>
    </div>
    <div class="loginButton">
        <div class="topLoginSelectTop"><%= link_to( "#{@user.name}'s PAGE" , "/user/#{params[:id]}" , class: "" )%></div>
        <button class="topLoginSelectDown">DONE!!</button>
    </div>
</form>

