<!DOCTYPE html>
<html>
  <head>
    <title>Sfcnet</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%if flash[:error] != nil%>
    <div oneclick="flash()" id="flash">
    <p><%= flash[:error] %></p>
    </div>
    <%end%>
    <div class="header">
      <%= image_tag "logo.png", size: "100x100" , action: "/home/top"%>
      <%= link_to "SFC NETWORK", "/home/top", class: "menuTop" %>
      <%if session[:id] != nil %>
      <%= link_to "#{@user.name}'sPAGE", "/user/#{session[:id]}", class: " menu" %>
      <%= link_to "MESSAGE", "/user/talk/index", class: " menu" %>
      <%else%>
      <%= link_to "SIGNUP", "/user/new",class: " menu" %>
      <%= link_to "LOGIN", "/user/login", class: " menu" %>
      <%end%>
      <%= link_to "CONTACT", "/home/contact", class: " menu" %>
    </div>
    <div class="pos">
      <%= yield %>
    </div>
  </body>
</html>
