<!DOCTYPE html>
<html>
  <head>
    <title>Sfcnet</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <div>
      <%if flash[:error] !=nil%>
        <div oneclick="flash()" id="flash">
          <p><%=flash[:error] %></p>
        </div>
      <%end%>
    </div>
    <div id ="header">
      <div class="menuLeft">　<%=link_to "CONTACT" , "/home/contact" , class: "menuLeftLink" %></div>
      <div class="menuCenter"><%=link_to "SFC NETWORK" , "/home/top" , class: "menuCenterLink" %></div>
      <%if session[:id] !=nil %>
        <div class="menuRight"><%=link_to "#{@user.name}'sPAGE" , "/user/#{session[:id]}" , class: "menuRightLink" %>　<%=link_to "MESSAGE" , "/user/talk/index" , class: "menuRightLink" %>　</div>
      <%else%>
        <div class="menuRight"><%=link_to "RESISTER" , "/user/new" , class: "menuRightLink" %>　<%=link_to "LOGIN" , "/user/login" , class: "menuRightLink" %>　</div>
    <%end%>
    </div>
    <div class="pos">
      <%= yield %>
    </div>
  </body>
</html>

